FLASK_APP=oauthclientbridge

BRIDGE_SECRET_KEY="my-s3cret-key-for-cookies"

DB_DATABASE="./sqlite.db"

OAUTH_AUTHORIZATION_URI = 'https://accounts.spotify.com/authorize'
OAUTH_TOKEN_URI = 'https://accounts.spotify.com/api/token'
OAUTH_CLIENT_ID = 'my-client-id'
OAUTH_CLIENT_SECRET = 'my-client-secret'
OAUTH_SCOPES='["playlist-read-private","playlist-read-collaborative"]'
