FLASK_APP=oauthclientbridge

FLASK_SECRET_KEY="my-s3cret-key-for-cookies"
FLASK_SESSION_COOKIE_NAME="session"
FLASK_SESSION_COOKIE_DOMAIN=""
FLASK_SESSION_COOKIE_PATH="/"
FLASK_SESSION_COOKIE_HTTPONLY="True"
FLASK_SESSION_COOKIE_SECURE="False"
FLASK_SESSION_COOKIE_SAMESITE="Lax"
FLASK_SESSION_REFRESH_EACH_REQUEST="True"
FLASK_PERMANENT_SESSION_LIFETIME="2678400"

DB_DATABASE="./sqlite.db"

OAUTH_AUTHORIZATION_URI = 'https://accounts.spotify.com/authorize'
OAUTH_TOKEN_URI = 'https://accounts.spotify.com/api/token'
OAUTH_CLIENT_ID = 'my-client-id'
OAUTH_CLIENT_SECRET = 'my-client-secret'
OAUTH_SCOPES='["playlist-read-private","playlist-read-collaborative"]'
